@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.conterner {
max-width: 1000px;
margin: auto;
padding: 100px 10px;
}
.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}







.menu {
    font-family: "Bungee Spice", sans-serif;
    width: 100%;
    height: 80px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 20px;
    position: fixed; top: 0; left: 0; right: 0;
    z-index: 1000;
}
.menu .logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li {
    margin: 0 15px;
}









.camera {
    width : 100%;
    height: 100vh;
background: linear-gradient( #DB7E7E , #FFC997);
    position: relative;
}
.titan {
    position: absolute; 
    right: 0;
    top : 0;


}
.text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: white;
    text-align: center;
}
.text h1 {
    font-size: 60px;
    margin-bottom: 20px;

}
.text h2 {
    font-size: 30px;
    font-weight: normal;
}
.titanspeaker {
        position: absolute; 
     left: 0;
    top : 0;
}
.titantv {
        position: absolute; 
     right: 200px;
    bottom : 50px;
    width: 300px;

}









.do-left {
width: 49%; 
display: inline-block;
vertical-align: top;
}
.do-right {
width: 49%; 
display: inline-block;
 vertical-align: top;
}
.do {
background: linear-gradient(7deg, #DB7E7E 18.07%, #FFC997 70%, #FFFFFF 70%);
}
.dotext {
background-color: white;
padding: 30px;
border-radius: 20px;
box-shadow: 10px 10px 30px rgb(255, 8, 8);
}






.services {
background: linear-gradient(340.62deg, #FFFFFF 45.63%, #DB7F7E 45.64%);
padding: 50px 0;
}
.service-card {
width: 30%;
display: inline-block;
background-color: white;
margin: 0 1.5%;
box-shadow: 10px 10px 30px rgb(255, 8, 8);
border-radius: 20px;
padding: 20px;
text-align: center;
vertical-align: top; height: 500px;
}
.service-card img {
width: 100%;
margin-bottom: 30px;
}
.service-card p {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}
.service-card h3 {
font-size: 50px;
font-weight: normal;        
}  











.goodat-card {
width: 70%;
background-color: rgb(138, 46, 46);
margin: 0 1.5%;
box-shadow: 10px 10px 30px rgb(97, 12, 12);
border-radius: 10px;
padding: 20px;
vertical-align: top; height: 150px;
margin: 30px auto;
 font-family: "Bungee Spice", sans-serif;
} 
.goodat-card ul {
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.GC2 {
transform: translateX(100px);
}








.random_photo {
    width: 15%;
   position: absolute;
    box-shadow: 10px 10px 30px rgb(255, 8, 8);
    border-radius: 20px;
    top: 10%; left: 0%;
}
.random_photo2 {
    width: 15%;
   position: absolute;
    box-shadow: 10px 10px 30px rgb(255, 8, 8);
    border-radius: 20px;
    top: 30%; right: 0%;
}
.whatwearegoodat {
 position: relative;
 
}

































.random_photo3 {
    width:49%;
   height : 300px;
   display: inline-block;
 object-fit: cover;
    box-shadow: 10px 10px 30px rgb(255, 8, 8);
    border-radius: 20px;

}

































.Footer {
background: linear-gradient( #DB7E7E , #FFC997);
text-align: center;
font-size: 20px;
padding: 20px 0;
font-family: "Bungee Spice", sans-serif;
}
.formblock {
   margin : 20px 0;
}
form {
 width: 700px;
 margin : auto;
}
.formblock input, .formblock textarea {
 width: 100%;
 padding: 10px;
 margin: 10px 0;
 border-radius: 5px;
 font-size: 16px;
 background: none;
 outline: none;
 border-bottom: 3px solid #DB7E7E;
}
.WHAT_ARE_DOING_HERE {
  padding: 15px 50px;
   background-color: #DB7E7E;
 color: white;
 border: none;
 border-radius: 25400000px;
 font-size: 50px;
 cursor: pointer;
 transition: background-color 0.3s ease;
     text-align: center;
    font-family: "Bungee Spice", sans-serif;

}
.formblock textarea  {
    height: 150px;
    resize: none;
    
}

























@media (max-width: 1150px) {
.titanspeaker
    {
        width: 30%;
}

.titan {
        width: 30%;
}
.menu {
    flex-wrap: wrap;
}
.menu  ul {
 width : 100%;
}
}





@media (max-width: 850px) {
.random_photo {
    display: none;
}
.random_photo2 {
    display: none;
}
.services .conterner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-card {
display: block;
margin-top: 20px;
}
.do-left {
width: 80%; 
display: block;
vertical-align: top;
 margin: 20px auto;
}
.do-right {
width: 80%; 
display: block;
 vertical-align: top;
 margin: 20px auto;
}
.GC2 {
transform: translateX(0px);
}
}
@media (max-width: 700px) {
form {
 width: 92%;
 margin : auto;
}
.menu {
    height: fit-content;
}
.do-left img {
    width: 100%;
    height: auto;
}
.menu  ul{
    display: flex;
    flex-wrap: wrap;
}
.goodat-card {
    height: fit-content;
}
}
@media (max-width: 600px) {
.random_photo3 {
  display: block;
  margin: 90px auto;
  width: 90%;

}
.service-card {
     width: 80%;
}










}